.registro-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, #7c7d7e, #000000, #444444, #7d7d7e);
  }

  .registro-form {
    max-width: 450px;
    padding: 30px;
    border: 2px solid #e30a13;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 57, 57, 0.8);
    background-color: #282828;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(45deg, #7c7d7e, #000000, #444444, #6b6b6b);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  .registro-form:hover {
    transform: scale(1.05);
  }
  
  .tituloRegister {
    text-align: center;
    color: #ffffff;
    -webkit-text-stroke: 0.3px black; 
    font-size: 25px; 
  }
  
  .label-register {
    display: block;
    margin: 15px 0; 
    color: #fff; 
  }
  
  .input-register {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    background-color: #505050; 
    color: #fff; 
    border: 1px solid #ff0000; 
  }
  
  input:focus {
    border-color: #ff0008;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #ffffff; 
    color: #282828; 
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold; 
  }
  
  button:hover {
    background-color: #d1ffe6; 
  }
  
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  

  